body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main{
    width: 100%;
}

a{
    text-decoration: none; 
    color: inherit;
}

header{
    box-shadow: 0px 5px 6px 0px rgb(0 0 0 / 20%);
    position: relative;
}


/*--------------CSS MENU RESTO---------------*/


/*logo et retour*/

.entete-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.entete-menu__logo{
    padding-top: 10px;
    padding-bottom: 10px;
}

.entete-menu__retour{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    top: 15px;
    font-size: 20px;
}


/*menu*/

img.img__menu{
    width: 100%;
}

#Dimension{
    object-fit: cover;
    height: 650px;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu__coeur{
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 20px;
    font-size: 20px;
}

.menu__coeur:hover .fa-solid{
    display: block;
}

.menu__coeur:hover .fa-heart.vide{
    display: none;
}

.menu__carte{
    background-color: rgb(242, 242, 242);
    border-radius: 30px 30px 0 0;
    margin-top: -7%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    position: relative;
}

.menu__titre-resto{
    font-family: 'Shrikhand';
}

.menu__flex{
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding-left: 3%;
}

.menu__habillage-titre{
    height: 3px;
    background-color: #99E2D0;
    width: 40px;
    margin-bottom: 13px;
}

.menu__sous-titre_resto{
    margin-bottom: 3px;
}

.menu__titre-grid{
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;

}

.menu__sous-titre-grid{
    font-size: 15px;
    font-weight:lighter;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.menu__titre-principal-grid{
    font-weight: bold;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.menu__prix-grid{
    font-weight: bold;
    font-size: 15px;
    padding-right: 10px;
    white-space: nowrap;
}

.menu__flex{
    display: flex;
    align-items: center;
    justify-content:space-between;
    overflow: hidden;
}

.menu__grid{
    display: grid;
    row-gap: 15px;
}

.menu__ok{
    display: none;
}

.menu__ok{
    display: flex;
    position: absolute;
    right: -1px;
    bottom: 0;
    width: 64px;
    height: 100%;
    background-color: white;
    border-radius: 0px 20px 20px 0;
    transform: translateX(100%);
    transition: transform 0.4s;
}

.menu__ok i{
    margin: auto;
    font-size: 25px;
    color: white;
    transition: transform 0.5s;
}

.menu__flex:hover .menu__ok{
    transform: translateX(0%);
}

.menu__flex:hover .menu__ok i{
    transform: rotate(360deg);
}

.menu__flex:hover .menu__titre-principal-grid{
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__flex:hover .menu__prix-grid{
    margin-right: 70px;
}

.menu__prix-grid{
    font-weight: bold;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.menu__ok{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: -1px;
    bottom: 0;
    width: 72px;
    height: 100%;
    background-color: #99E2D0;
    border-radius: 0 16px 16px 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    -o-transition: transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
}

.bouton-menu{
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: auto; 
    background: linear-gradient(180deg, #ff79da 0%, #9356fc 100%);
    border-radius: 30px;
    color: white;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

.bouton-menu:hover{
    background: linear-gradient(180deg, #ff79d9ab 0%, #9356fcb4 100%);
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 30%);
}

/*-------------Apparition menu lent--------------*/ 

.restaurants__carte_resto:nth-of-type(1){
    animation: menus 1.8s 1.8s both;
}
.restaurants__carte_resto:nth-of-type(2){
    animation: menus 2.1s 1.8s both;
}
.restaurants__carte_resto:nth-of-type(3){
    animation: menus 2.4s 1.8s both;
}
.restaurants__carte_resto:nth-of-type(4){
    animation: menus 2.7s 1.8s both;
}

.menu__flex:nth-of-type(1){
    animation: menus 1s 0.5s both;
}
.menu__flex:nth-of-type(2){
    animation: menus 1.3s 0.5s both;
}
.menu__flex:nth-of-type(3){
    animation: menus 1.6s 0.5s both;
}
.menu__flex:nth-of-type(4){
    animation: menus 1.6s 0.5s both;
}
.menu__flex:nth-of-type(5){
    animation: menus 1s 0.5s both;
}
.menu__flex:nth-of-type(6){
    animation: menus 1.3s 0.5s both;
}
.menu__flex:nth-of-type(7){
    animation: menus 1.6s 0.5s both;
}
.menu__flex:nth-of-type(8){
    animation: menus 1.6s 0.5s both;
}
.menu__flex:nth-of-type(9){
    animation: menus 1s 0.5s both;
}
.menu__flex:nth-of-type(10){
    animation: menus 1.3s 0.5s both;
}
.menu__flex:nth-of-type(11){
    animation: menus 1.6s 0.5s both;
}
.menu__flex:nth-of-type(12){
    animation: menus 1.6s 0.5s both;
}

@-webkit-keyframes menus{

    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
        opacity: 0%;
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes menus{

    0% {
        -webkit-transform: translateY(30%);
        transform: translateY(30%);
        opacity: 0%;
    }
    100% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 100%;
    }

}

/*---------------FIN CSS MENU RESTO---------------*/





/*---------------LOADER----------------*/
/*---------------LOADER----------------*/


.chargement{
    border-radius: 5px;
    margin: auto 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    opacity: 0.9;
    z-index: 1;
    animation: opening;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.chargement__bord::before, .chargement__bord::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 7px solid transparent;
}

.chargement__bord::before{
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top-color: #ff79da;
    animation: spin 3s linear infinite;
}

.chargement__bord::after{
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    border-top-color: #99e2d0;
    animation: spin 1.5s linear infinite;
}

.chargement__bord{
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color: #9356fc;
    animation: spin 1s linear infinite;
}

@keyframes spin{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

@keyframes opening{

    0%{
       opacity: 1;
       visibility: visible;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }

}

/*---------------LOADER----------------*/
/*---------------LOADER----------------*/





/*-------LOGO ET LOCALISATION RESTO ----*/

#Logo{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 20px;
    padding-bottom: 15px;
}

.ville{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.ville__recherche-client{
    color: rgb(98, 98, 98);
    border: none;
    height: 50px;
    width: 150px;
    background-color:  rgb(230, 230, 230);
    font-family: 'Shrikhand' ;
    font-weight: bold;
    font-size:large;
}

.ville__icon{
    width: 30px;
    color: rgb(98, 98, 98);
}

.ville__ville{
    font-weight: bold;
}


/*------------PROPAL DE VALEUR------------*/

.concept{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.concept__titre{
    text-align: center;   
}

.concept__bouton{
    height: auto; 
    background: linear-gradient(180deg, #ff79da 0%, #9356fc 100%);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-bottom: 50px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

.concept__bouton:hover{
    background: linear-gradient(180deg, #ff79d9ab 0%, #9356fcb4 100%);
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 30%);
}


/*-----------FONCTIONNEMENT----------*/

.selection{
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.selection__ensemble{
    font-weight: bold;
}

.selection__carte{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border-radius: 15px;
    background-color: white;
    width: 92%;
    margin: auto;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    margin-bottom: 25px;
    max-width: 800px;
}

.selection__carte:hover{
    background-color: #f5e1ff;
    box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 30%);
}

.selection__carte:hover i{
    color: #9356fc;
}

.selection__puce{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #9356fc;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: -17px;
}

.selection__icon{
    color: rgb(98, 98, 98);
    margin: 0 20px;
}

/*--------------PROPAL RESTO------------*/

.restaurants{
    padding: 0 5px;
    background-color: rgb(242, 242, 242);
    padding-top: 5px;
    margin: 0;
    padding-bottom: 40px;
}

.restaurants__img{
    position: relative;
}

.restaurants__carte_resto img{
    display: flex;
    width: 430px;
    height: 270px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    object-fit: cover;
}

.restaurants__nouveau p{
    color: #1b6150;
    background-color: #99e2d0;
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    display: inline-block;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

.restaurants__carte_resto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    /*justify-content: center;*/
    cursor: pointer;
}

.restaurants__texte_carte{
    width: 415px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding-left: 15px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    position: relative;
    display: flex;
    flex-direction: column;
}

.restaurants__position-coeur{
    position: relative;
}

.fa-solid.fa-heart.remplissage{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, #ff79da 0%, #9356fc 100%);
    color: transparent;
    transform: scale(1.1);
    -webkit-animation: scale-up-center 0.4s;
    animation: scale-up-center 0.4s;
}

@-webkit-keyframes scale-up-center{

    0%{
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }

    100%{
    -webkit-transform: scale(1);
    transform: scale(1);
    }

}

@keyframes scale-up-center{

    0%{
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    }

    100%{
    -webkit-transform: scale(1);
    transform: scale(1);
    }

}

.restaurants__coeur{
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 29px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.restaurants__coeur:hover .fa-solid{
    display: block;
}

.restaurants__coeur:hover .fa-heart.vide{
    display: none;
}

.fa-heart.remplissage{
    display: none;
}

.restaurants__nom{
    font-weight: bold;
}

.restaurants__menu{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
column-gap: 15px;
margin: 0 auto;
}


/*-------------FOOTER-------------*/

#Logo-footer{
    padding-top: 30px;
    padding-bottom: 25px;
    width: 120px;
}

.footer__icon-texte{
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 30px;
}

.footer__icon-texte i{
    padding-right: 15px;
}

.footer{
    padding-left: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    color: white;
}






/*-----------MEDIA QUERIES-----------*/

@media screen and (min-width: 769px){

    .menu__img{
        padding-top: 20px;
        border-radius: 40px 40px 0 0;
        width: 56%;
        margin: auto;
    }

    .menu__carte{
        width: 50%;
        border-radius: 30px;
        margin: auto;
        margin-top: -7%;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

}

/*------Tel------*/

@media screen and (max-width: 510px) {

    #Dimension{
        object-fit: cover;
        height: 300px;
    }

    .selection h2{
        padding: 0 5px;
    }
    .restaurants h2{
        padding: 0 5px;
    }

    .restaurants__carte_resto img{
        width: 480px;
    }

    .restaurants__texte_carte{
        width: 465px;
    }
    
}

@media screen and (max-width: 490px) {

    .restaurants__carte_resto img{
        width: 460px;
    }

    .restaurants__texte_carte{
        width: 445px;
    }
    
}

@media screen and (max-width: 440px) {

    .restaurants__carte_resto img{
        width: 365px;
    }

    .restaurants__texte_carte{
        width: 350px;
    }

}

/*--------Tablette--------*/

@media screen and (max-width: 768px) {

    .selection h2{
        padding: 0 10px;
    }
    .restaurants h2{
        padding: 0 10px;
    }

    .restaurants__carte_resto img{
        width: 480px;
    }

    .restaurants__texte_carte{
        width: 465px;
    }
    
}

/*----ajustement affichage tablette et pc----*/

@media screen and (min-width: 768px){

    .restaurants h2{
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .selection h2{
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .selection{
        margin: auto;
        max-width: 500px;
    }

    .selection__carte{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .selection__icon{
        display: none;
    }

}

/*-------pc------*/

@media screen and (max-width: 992px){

    .restaurants__menu{
        flex-wrap: wrap;
    }

    #Dimension{
        object-fit: cover;
        height: 300px;
    }

    
    .restaurants__carte_resto img{
        width: 400px;
    }

    .restaurants__texte_carte{
        width: 385px;
    }
    
}

@media screen and (min-widht: 991px){ 

    .restaurants__carte_resto {
        display: flex;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 45%;
        padding: 1rem;
        flex-wrap: wrap;
    }

}