body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

main{
    width: 100%;
}

a{
    text-decoration: none; 
    color: inherit;
}


/*--------------CSS MENU---------------*/

#Logo-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-columns: 94px auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.fa-arrow-left{
    font-weight: 900;
    font-size: 20px;
    margin-left: 20px;
    padding-top: 5px;
}

img.img_menu{
    width: 100%;
}


.menu{
    display: flex;
    flex-direction: column;
}

.carte-menu{
    background-color: rgb(242, 242, 242);
    border-radius: 30px 30px 0 0;
    margin-top: -7%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.titre-resto{
    font-family: 'Shrikhand';
}

.flex-menu{
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding-left: 3%;
}

.titre-grid-menu{
    font-weight: bold;
}

.habillage-titre{
    height: 3px;
    background-color: #99E2D0;
    width: 40px;
    margin-bottom: 13px;
}

.sous-titre_resto{
    margin-bottom: 3px;
}

.sous-titre-grid-menu{
    font-size: 15px;
    font-weight:lighter;
}

.prix-grid-menu{
    font-weight: bold;
    font-size: 15px;
}

.flex-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.grid-menu{
    display: grid;
    row-gap: 15px;
}

.bouton-menu{
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: auto; 
    background: linear-gradient(180deg, #ff79da 0%, #9356fc 100%);
    border-radius: 30px;
    color: white;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

/*---------------SUP MENU---------------*/



/*-------LOGO ET LOCALISATION RESTO ----*/

#Logo{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 20px;
    padding-bottom: 15px;
}

.ville{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.ville__location{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: rgb(98, 98, 98);
    cursor: pointer;
}

.location__icon{
    width: 30px;
}

.location__ville{
    font-weight: bold;
}




.concept{
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.concept__titre{
    text-align: center;   
}

.concept__bouton{
    height: auto; 
    background: linear-gradient(180deg, #ff79da 0%, #9356fc 100%);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-bottom: 50px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}




.selection{
    display: flex;
    flex-direction: column;
}

.selection h2{
    padding-left: 1%;
}

.selection__ensemble{
    margin-left: 1%;
    font-weight: bold;
}

.selection__carte{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    border-radius: 15px;
    background-color: white;
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
    margin-bottom: 25px;
}

.selection__carte:hover{
    background-color: #f5e1ff;
}

.selection__carte:hover i{
    color: #9356fc;
}

.selection__puce{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #9356fc;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left: -17px;
}

.selection__icon{
    color: rgb(98, 98, 98);
    margin: 0 20px;
}



.restaurants{
    padding-left: 1%;
    background-color: rgb(242, 242, 242);
    padding-top: 30px;
    margin: 0;
    padding-bottom: 40px;
}

.restaurants__carte_resto img{
    width: 300px;
    height: 200px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

.restaurants__carte_resto{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 45%;
    padding: 1rem;
}

.restaurants__texte_carte{
    width: 285px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding-left: 15px;
    box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

.restaurants__nom{
    font-weight: bold;
}

.restaurants__menu{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 1200px;
margin: 0 auto;
}



#Logo-footer{
    padding-top: 30px;
    padding-bottom: 25px;
    width: 120px;
}

.footer__icon-texte{
    cursor: pointer;
    display: flex;
    align-items:center;
    height: 30px;
}

.footer__icon-texte i{
    padding-right: 15px;
}

.footer{
    padding-left: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 50, 50);
    color: white;
}

@media screen and (max-width: 992px) {

    .restaurants__menu{
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    
}

@media screen and (min-widht: 991px){  
    .restaurants__menu{
        width: 1200px;
        margin: 0 auto;
    }

    .restaurants__carte_resto {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 45%;
        padding: 1rem;
        flex-wrap: wrap;
    }
}

